In [2]:
import pandas as pd

# First Steps

### Acquiring Data from IMDb </br>
Before we do anything, we need some movie data! Fortunately, IMDb has a publicly available list of movie IDs that can be downloaded. [IMDb Datasets](https://www.imdb.com/interfaces/) It's important to take note that none of these datasets actually has printed out titles in them. Because of this, we'll need to find the titles and other associated information.

### Read in IMDb Data </br>
We'll using the IMDb data containing just the titles, IMDb ratings and the number of votes the title has received. We only want the title codes because they will be used to interact with the OMDb API (which can also give the same information if deemed useful).

In [3]:
titles = pd.read_csv('./title.ratings.tsv', sep='\t')

In [5]:
titles.head(3)

      tconst  averageRating  numVotes
0  tt0000001            5.8      1351
1  tt0000002            6.5       157
2  tt0000003            6.6       939

In [6]:
titles.columns

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

This will drop the columns that aren't going to be used.

In [7]:
id_code = titles.drop(['averageRating', 'numVotes'], axis=1)

We'll reverse the order of the IDs below so that they will be in reverse chronological order.

In [8]:
id_code = id_code.sort_values(['tconst'], ascending = False)

In [9]:
id_code.head()

           tconst
811997  tt8108152
811996  tt8106994
811995  tt8105610
811994  tt8105202
811993  tt8104940

Below, the table containing just the title IDs is saved as a .csv file for usage in a different notebook.

In [ ]:
id_code.to_csv('id_code.csv')

### Next steps </br>
Now that we have the title ID codes in a nearly failproof format, we will use it to make requests to the OMDb API to get some actual names to these ID codes along with many other fun bits of information! </br></br>
Proceed to 02-API-Requests to continue.