In [1]:
import pandas as pd
import json
import urllib
import requests
from pandas.io.json import json_normalize
import re
%matplotlib inline

from key import key

In [2]:
imdb_df = pd.read_csv('./title.ratings.tsv',  sep='\t', header=0)

In [3]:
imdb_df = imdb_df.drop(labels=['averageRating', 'numVotes'], axis=1)

In [4]:
imdb_df = imdb_df.sort_values(['tconst'], ascending = False)

In [5]:
imdb_df.head()

           tconst
811997  tt8108152
811996  tt8106994
811995  tt8105610
811994  tt8105202
811993  tt8104940

In [ ]:
results_list=[]
errors_list=[]
for num, id in enumerate(imdb_df['tconst'][50001:75000]):    
    url = 'http://www.omdbapi.com/?apikey='+key+'&i='+str(id)
    response = requests.get(url)
    if response.status_code == 200:
        results_list.append(response.json())
        if num % 500 == 0:
            print(num)
    else:
        print('Call failed at request: ', num, response.status_code)
        errors_list.append((num, url, response.status_code))       
imdb_data2 = pd.DataFrame(results_list)

imdb_data2.shape

0
Call failed at request:  168 524
Call failed at request:  216 524
Call failed at request:  277 524
Call failed at request:  367 524
500
Call failed at request:  502 524
Call failed at request:  507 524
Call failed at request:  880 524
Call failed at request:  982 524
1000
Call failed at request:  1245 524
Call failed at request:  1284 524
1500
Call failed at request:  1524 524